<div class="container pt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Ingreso de Producto</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="guardarProducto()" class="form-design">
        
                        <div class="form-group">
                            <label for="">Descripcion</label>
                            <input type="text" formControlName="descripcion" class="form-control">
                        </div>
        
                        <div class="form-group">
                            <label for="">Categoria</label>
                            <select class="form-control" formControlName="categoria">
                                <option *ngFor="let categoria of SCategoria.lista" value="{{categoria.id}}">{{ categoria.nombre }}</option>
                            </select>
                        </div>
        
                        <div class="form-group">
                            <label for="">Proveedor</label>
                            <select class="form-control" formControlName="proveedor">
                                <option *ngFor="let proveedor of SProveedor.lista" value="{{proveedor.id}}">{{ proveedor.nombre }}</option>
                            </select>
                        </div>
        
                        <div class="form-group">
                            <label for="">Marca</label>
                            <select class="form-control" formControlName="marca">
                                <option *ngFor="let marca of SMarca.lista" value="{{marca.id}}">{{ marca.nombre }}</option>
                            </select>
                        </div>
                    
                        <div class="form-group">
                            <label for="">Medidas</label>
                            <input type="text" class="form-control" formControlName="medidas">
                        </div>
                        <div class="form-group">
                            <label for="">Precio Unitario</label>
                            <input type="number" class="form-control" formControlName="precio_unitario">
                        </div>
                        <div class="form-group mt-2 text-center">
                            <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="!form.valid">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>